{% macro render_field(field, placeholder="") %}
<div class="form-group">
    {{ field.label }}
    {% if field.errors %}
        {{ field(class_="form-control is-invalid", placeholder=placeholder) | safe }}
        <div class="invalid-feedback">
            <ul>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        {{ field(class_="form-control", placeholder=placeholder) | safe }}
    {% endif %}
</div>
{% endmacro %}

{% macro render_profile(field, title) %}
{% if field %}
    <div>{{ title }} : {{ field }}</div>
{% endif %}
{% endmacro %}

{% macro render_post(post, bookmarks=[], is_edit=False, is_login=False) %}
<div class="card">
    <img class="card-img-top" src="data:image/jpeg;base64,{{ post.image | base64 }}">
    <div class="card-body">
        <h6 class="card-title">
            <p>
                <a href="{{ url_for('blog_view.blog', user_id=post.author.user_id) }}">
                    <i class="far fa-user-circle"></i> {{ post.author.user_id | safe }}
                </a>
            </p>
            <p>
                {{ post.title | safe }}
            </p>
        </h6>
        <p class="card-text">
            <p>{{ post.body | safe }}</p>
            <p class="mt-5">
                {% if is_login %}
                <button type="button" onclick="addBookmarkPost({{ post.id }})" class="btn btn-warning btn-sm{% if post | is_bookmarked(bookmarks) %} active{% endif %}" data-toggle="button" aria-pressed="{{ post | is_bookmarked(bookmarks) }}" autocomplete="off">
                    <i class="far fa-star"></i> <span class="badge badge-light" id="bookmark_cnt_id_{{ post.id }}">{{ post.users | length }}</span>
                </button>
                <input type="hidden" name="del_flg" id="del_flg_{{ post.id }}" value="{{ post | is_bookmarked(bookmarks) }}">
                {% else %}
                <span class="badge badge-warning"><i class="far fa-star"></i> {{ post.users | length }}</span>
                {% endif %}
            </p>
            {% if is_edit %}
            <p class="mt-2">
                <form class="text-right" action="{{ url_for('post_view.rmv', post_id=post.id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="btn-group">
                        <a class="btn btn-info btn-sm" href="{{ url_for('post_view.upd', post_id=post.id) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </form>
            </p>
            {% endif %}
        </p>
    </div>
</div>
{% endmacro %}