{% macro render_field(field, placeholder="") %}
<div class="form-group">
    {{ field.label }}
    {% if field.errors %}
        {{ field(class_="form-control is-invalid", placeholder=placeholder)|safe }}
        <div class="invalid-feedback">
            <ul>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        {{ field(class_="form-control", placeholder=placeholder)|safe }}
    {% endif %}
</div>
{% endmacro %}

{% macro render_profile(field, title) %}
{% if field %}
    <div>{{ title }} : {{ field }}</div>
{% endif %}
{% endmacro %}

{% macro render_post(post, bookmarks=[], is_edit=False, is_login=False) %}
<div class="card">
    <img class="card-img-top" src="data:image/jpeg;base64,{{ post.image | base64 }}">
    <div class="card-body">
        <h5 class="card-title">{{ post.author.user_id }}</h5>
        <h6 class="card-title">{{ post.title }}</h6>
        <p class="card-text">{{ post.body }}</p>
        {% if is_edit %}
        <p class="card-text"><a href="{{ url_for('post_view.upd', post_id=post.id) }}">更新</a></p>
        <p class="card-text">
            <form action="{{ url_for('post_view.rmv', post_id=post.id) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button class="btn btn-danger">削除</button>
            </form>
        </p>
        {% endif %}
        {% if is_login %}
        <p class="card-text">
            <button type="button" onclick="addBookmarkPost({{ post.id }})" class="btn btn-warning btn-sm{% if post | is_bookmarked(bookmarks) %} active{% endif %}" data-toggle="button" aria-pressed="{{ post | is_bookmarked(bookmarks) }}" autocomplete="off">
                ブックマーク <span class="badge badge-light" id="bookmark_cnt_id_{{ post.id }}">{{ post.users | length }}</span>
            </button>
            <input type="hidden" name="del_flg" id="del_flg_{{ post.id }}" value="{{ post | is_bookmarked(bookmarks) }}">
        </p>
        {% else %}
            <span class="badge badge-warning">ブックマーク {{ post.users | length }}</span>
        {% endif %}
    </div>
</div>
{% endmacro %}