[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-wtf = "*"
flask-login = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python run.py runserver"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
init = "python run.py db init"
migrate = "python run.py db migrate"
upgrade = "python run.py db upgrade"
downgrade = "python run.py db downgrade"
test = "python -m pytest"
