{% extends 'layout.html' %}

{% block header %}
    <h1>{% block title %}Hello{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>World</p>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="row mb-3">
            <div class="col-md-6 offset-md-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endwith %}
{% endblock %}