{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block header %}
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center">
        <h1>Mini Blog</h1>
    </div>
</div>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="row mb-3">
            <div class="col-md-6 offset-md-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endwith %}
<div class="container">
    <div class="row mb-5">
        <div class="col-md-6 offset-md-3">
            <form action="{{ url_for('home_view.index') }}" method="get">
                <div class="input-group">
                    {{ form.keyword(class="form-control", placeholder="検索キーワード") }}
                    <div class="input-group-append">
                        <button class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mb-3">
        {% from "helpers/_formhelpers.html" import render_post %}
        {% for post in posts %}
            <div class="col-md-3 mb-4">
            {{ render_post(post, bookmarks=bookmarks, is_login=current_user.is_authenticated) }}
            </div>
        {% endfor %}
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
    </div>
    {{ pagination.links }}
</div>
{% endblock %}