{% extends 'layout.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid mb-3">
    <div class="container text-center">
        <h1>{% block title %}記事投稿{% endblock %}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-light">
                <div class="card-body">
                    {% from "helpers/_formhelpers.html" import render_field %}
                    <form action="" method="post" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.image.label }}
                            <div id="preview">
                                {% if form.is_img_saved.data %}
                                <img id="preview_db" class="rounded icon-prev" src="data:image/jpeg;base64,{{ form.image.data | base64 }}">
                                {% endif %}
                            </div>
                            <div class="drag-and-drop-area drag-and-drop-area-out form-control{% if form.image.errors %} is-invalid{% endif %}">
                                <span>
                                    <i class="fa fa-image"></i>
                                    Drag and drop your files
                                </span>
                            </div>
                            {{ form.image(id='file', class_='form-control-file', accept='image/jpeg') }}
                            {% if form.image.errors %}
                            <div class="invalid-feedback">
                                <ul>
                                {% for error in form.image.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {{ form.is_img_saved() }}
                        </div>
                        {{ render_field(form.title, placeholder="タイトル") }}
                        {{ render_field(form.body, placeholder="コメント") }}
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">記事を投稿する</button>
                        </div>
                        <div class="form-group text-center">
                            <a href="{{ url_for('blog_view.blog', user_id=current_user.user_id) }}">
                                My Blog へ
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}