{% extends 'layout.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid mb-3">
    <div class="container text-center">
        <h1>{% block title %}Profile{% endblock %}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-light">
                <div class="card-body">
                    {% from "helpers/_formhelpers.html" import render_field %}
                    <form action="{{ url_for('profile_view.profile') }}" method="post" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <div class="form-check">
                            {% if icon %}
                            <img class="rounded icon" src="data:image/jpeg;base64,{{ icon | base64 }}">
                            {{ form.icon_del(class_="form-check-input") }}
                            {{ form.icon_del.label }}
                            {% else %}
                            <span style="font-size: 80px; color: Dodgerblue;">
                                <i class="far fa-user"></i>
                            </span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.icon.label }}
                            {{ form.icon(id='icon-dropzone', class_='form-control-file dropzone') }}
                        </div>
                        {{ render_field(form.nickname, placeholder="ニックネーム") }}
                        {{ render_field(form.comment, placeholder="コメント") }}
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">プロフィール設定</button>
                        </div>
                        <div class="form-group text-center">
                            <a href="{{ url_for('blog_view.blog', user_id=current_user.user_id) }}">
                                My Blogへ
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}