{% extends 'layout.html' %}

{% block header %}
    <h1>{% block title %}サインアップ{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% from "helpers/_formhelpers.html" import render_field %}
    <form action="{{ url_for('auth_view.signup') }}", method="post">
        {{ form.csrf_token }}
        {{ render_field(form.name, placeholder="ニックネーム") }}
        {{ render_field(form.email, placeholder="email@mail.com") }}
        {{ render_field(form.password, placeholder="半角英数字記号") }}
        {{ render_field(form.confirm, placeholder="半角英数字記号") }}
        <button class="btn btn-primary">サインアップ</button>
    </form>
    <a href="{{ url_for('auth_view.login') }}">ログイン</a>
{% endblock %}