body, .jumbotron {
    background-color: #ecf0f1;
}

.card > img {
    width: auto;
    height: 200px;
    object-fit: cover;
}

.icon {
    width: 60px;
    height: 60px;
}

.icon-prev {
    width: 100px;
    height: 100px;
}

.drag-and-drop-area {
    color: #ccc;
    height: 150px;
    margin: 30px 0 20px;
    border-style: dashed;
    border-width: 2px;
    line-height: 150px;
    text-align: center;
    cursor: pointer;
}

.drag-and-drop-area-over {
    border-color: #0000FF;
}

.drag-and-drop-area-over span {
    opacity: 0.2;
}

.drag-and-drop-area-out {
    border-color: #ccc;
}

.drag-and-drop-area-out span {
    opacity: 1;
}

#file {
    display: none;
}

.pagetop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background: #3f98ef;
    opacity: 0.6;
    border-radius: 50%;
}

.pagetop a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.pagetop a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}